[Unit]
Description=Create AP Service
After=wpa_supplicant-nl80211@wlan0.service

[Service]
Type=simple
ExecStart=/usr/bin/create_ap --config /etc/create_ap.conf
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
